.courseContent__enrolled {
    .ant-spin-nested-loading {
        .ant-spin-container {
            .ant-list-items {
                .ant-list-item {
                    border: 1px solid $dark-2;
                    border-radius: 8px;
                    margin-bottom: $mg-3;

                    &:last-child {
                        border-block-end: 1px solid $dark-2;
                    }

                    .ant-list-item-main {
                        .ant-list-item-meta {
                            .ant-list-item-meta-content {
                                .ant-list-item-meta-title {
                                    a {
                                        font-size: $fs-3;
                                        font-weight: 600;
                                        text-transform: capitalize;
                                        color: $dark-1;

                                        &:hover {
                                            color: $green-1;
                                        }
                                    }
                                }

                                .ant-list-item-meta-description {}
                            }
                        }

                        .ant-list-item-action {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 65% 35%;
                            row-gap: 10px;

                            li {
                                align-self: center;

                                &:first-child {
                                  
                                    .ant-progress {
                                        width: 250px;
                                        display: flex;
                                        justify-content: flex-start;
    
                                        .ant-progress-outer {
                                            .ant-progress-inner {
                                                
                                                .ant-progress-bg {
                                                    background-color: $green-1;
                                                    height: 12px !important;
                                                }
                                            }
                                        }
    
                                        .ant-progress-text {
                                            color: $green-1;
                                            padding-top: 3px;
                                        }
                                    }
                                }
                                
                                &:nth-child(2) {
                                    padding-left: 0;

                                    .ant-rate {
                                        display: flex;
                                    }
                                    
                                }

                                &:last-child {
                                    display: flex;
                                    padding-left: 0;
                                }
                            }

                            @include desktop {
                                grid-template-columns: auto;
                            }

                            @include tablet {
                                grid-template-columns: 65% 35%;
                            }

                            @include mobile {
                                margin-left: 0;
                                grid-template-columns: auto;
                            }
                        }
                    }

                    .ant-list-item-extra {
                        margin-left: 0;
                        height: 170px;
                        align-self: center;
                        
                        img {
                            height: 100%;
                            object-fit: cover;
                        }

                        @include x-mobile {
                            margin: 0 auto;
                            margin-bottom: $mg-2 + 1;
                        }
                    }
                }
            }
        }
    }

    .ant-list-pagination {
        text-align: center;

        .ant-pagination-item-active {
            border-color: $green-1;

            a {
                color: $green-1;
            }
        }
    }
}